.wrapper {
    position: relative;
    margin-top: 50px;
}

.title {
    font-size: 22px;
    font-weight: 600;
    color: #2b4462;
    padding: 0 4px 12px;
    border-bottom: solid 2px #dfe2e6;
    display: block;
    margin-bottom: 13px;
}

.filterWrapper {
    position: absolute;
    right: 0;
    top: 0;
}

.inputFilter {
    box-sizing: border-box;
    height: 30px;
    width: 150px;
    font-size: 14px;
    text-indent: 10px;
}

.collectionWrapper {
    display: flex;
}

.imageWrapper {
    flex: 1 1 0;
    padding: 5px;
    border: solid 1px #d0d3d7;
    background-color: #fff;
}

.photo {
    width: 100%;
}

.photoWrapper {
    position: relative;
    display: inline-block;
    text-align: center;
    cursor: pointer;
}

.uploadBtn {
    opacity: 0;
    display: block;
    width: 100px;
    height: 100px;
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    margin: -50px auto 0;
    background-color: green;
    line-height: 100px;
    font-size: 30px;
    color: #fff;
    border-radius: 50px;
}

.photoWrapper:hover .uploadBtn {
    opacity: 0.5;
}

.pagination {
    display: inline-block;
    margin-top: 10px;
    font-size: 14px;
}

.pagination .note {
    margin-left: 10px;
    margin-right: 10px;
    font-size: 15px;
    position: relative;
    top: -2px;
}

.pagination .left, .pagination .right {
    font-size: 20px;
    cursor: pointer;
}
